/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* body */
body {
    margin: 0px;
}


/* nav */
header nav {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
}

header nav img {
    height: 24px;
    margin-left: 20px;
    display: inline-block;

}
