/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* root */
:root {
    --blue: #0062FF;
    --light-grey: #f2f4f8;
    --medium-grey: #222222; 
}

/* body */
body {
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* H1, H2, H3, P */

h1, h2, h3, p { 
color: var(--medium-grey)
}

h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;   
}

h2 {
    font-weight: 28px;
    line-height: 36px;
    font-weight: 400;   
}

h3 {
    font-size: 16px;
    line-height: 22px;  
}

p {
    font-size: 16px;
    line-height: 22px;
}

/* main */
main {}

main > img:first-child {
    width: 100%;
    height: 215px;
    object-fit: cover;
    margin-top: 50px; 
}

/* nav */
header nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img:first-child {
    height: 24px;
    margin-left: 15px;
    display: inline-block;
}

header nav img:last-child {
    margin-right: 15px;
}

/* article 1 */
main > article:nth-of-type(1) {
    padding: 15px 15px 30px 15px;
    background-color: var(--light-grey);
}

main > article:nth-of-type(1) h1 {
    margin-top: 0px;
}

main > article:nth-of-type(1) p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #525252;
    margin: 0px 0px 30px 0px;
}

main > article:nth-of-type(1) a {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--blue);
    color: white;
    padding: 13px 15px 13px 15px;
}

main > article:nth-of-type(1) a img {
    width: 16px;
    height: 100%;
    align-self: center;
}

/* article 2 */
main > article:nth-of-type(2) {
    padding: 15px 15px 20px 15px;
    background-color: var(--light-grey);
}

main > article:nth-of-type(2) h2 span {
    font-weight: 700;
}

main > article:nth-of-type(2) a {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--blue);
    color: white;
    padding: 13px 15px 13px 15px;
}

main > article:nth-of-type(2) a img {
    width: 16px;
    height: 100%;
    align-self: center;
}

/* section 1 */
main section:nth-of-type(1) {
    padding: 15px 15px 30px 15px;
}

main section:nth-of-type(1) h3:first-child {
    margin: 10px 0px 20px 0px;
}

main section article {
    padding: 0px;
    background-color: var(--light-grey);
}

main section article:nth-of-type(1) {
    padding: 0px 0px 15px 0px;
}

main section article:nth-of-type(1) img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

main section article:nth-of-type(1) h3 {
    margin: 15px 0px 10px 15px;
}

main section article:nth-of-type(1) p {
    margin: 0px 0px 30px 15px;
}

main section article:nth-of-type(1) a {
    background-color: transparent;
    color: var(--blue);
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 15px;
}
